
body {
  line-height: 2em;
  padding: 0;
  margin: 0;
}

.menu {
  grid-area: hd;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.settings { grid-area: main }
.projects { grid-area: main }
.project {
  grid-area: main;
  display: grid;
  grid-gap: 10px;
}

.app {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-areas:
    "hd"
    "main"
}

.scene {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  grid-gap: 10px;
}

.scene .scene-hdr { grid-row: 1; grid-column-start: 1; grid-column-end: 7; margin: auto; }
.scene > button { grid-row: 2; }
.scene > .scene-delete-button { grid-column: 6; }
.scene .images { grid-row: 3; grid-column-start: 1; grid-column-end: 7; }
.scene .images .image { 
  padding: 1px;
  display: inline-grid;
}
.scene .images .image img { height: 200px; grid-row: 1; grid-column: 1; }
.scene .images .image .image-menu {
  margin: 5px;
  justify-self: center; 
  align-self: flex-start;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out;
}
.scene .images .image:hover .image-menu { 
  visibility: visible;
  opacity: 1;
}

.images {
  white-space: nowrap;
  overflow-x: scroll;
}

.images .image {
  display: inline-block;
}

button {
  /* stolen from fomantic ui base button styling: */
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0,0,0,.6);
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0 .25em 0 0;
  padding: .78571429em 1.5em .78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
  will-change: auto;
  -webkit-tap-highlight-color: transparent;
}

button.red {
  background-color: #db2828;
  color: #fff;
  text-shadow: none;
  background-image: none;}

input[type="text"] {
  font-size: 1rem;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  line-height: 1.21428571em;
  padding: .67857143em 1em;
  font-size: 1em;
  background: #fff;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  box-shadow: 0 0 0 0 transparent inset;
  -webkit-transition: color .1s ease,border-color .1s ease;
  transition: color .1s ease,border-color .1s ease;
}